---
import Layout from '@/app/layouts/layout.astro';
---
<Layout title="GitCharts - GitHub Statistics">
    <footer class="py-8 text-center">
        <p class="text-sm text-gray-500">© 2024 Astro x Shadcn Starter by
            <a href="https://x.com/grapplingdev"
               target="_blank" rel="noopener noreferrer"
               class="hover:bg-slate bg-black text-white transition-colors duration-300">Dan</a>
        </p>
    </footer>
</Layout>